{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <div class="container d-flex flex-column align-items-center">
        <h1 class="h3 my-3">À propos</h1>
        <img class="col-6 my-3" src="https://bit.ly/3Jom0OU" alt="café"/>
        <p class="col-6">
            Le Café, conçu en 2017, a vocation à rassembler toutes les meilleures références de cafés au monde
            pour les mettres au service de vos sens.<br><br>
            Les cafés les plus purs et les plus luxueux ont été selectionnés pour vous avec une exigence éthique et gustative absolue.
        </p>
    </div>
{% endblock %}
